/* 
 12 Bool Grid System
*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */
.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* ROW */
.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

/* COLUMNS */
[class*="col-"] {
    flex: 0 0 auto;
    /* padding-left: 15px;
    padding-right: 15px; */
}

[class*="col-"].padding-0 {
    padding-left: 0;
    padding-right: 0;
}

/* COLUMN */
.col-12 {
    width: 100%;
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-4 {
    width: calc(100% / 3);
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: calc(100% / 6);
}

.col-1 {
    width: calc(100% / 12);
}

/* OFFSET */
.offset-1 {
    margin-left: calc(100% / 12);
}

.offset-2 {
    margin-left: calc(100% / 12 * 2);
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: calc(100% / 12 * 4);
}

.offset-5 {
    margin-left: calc(100% / 12 * 5);
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: calc(100% / 12 * 7);
}

.offset-8 {
    margin-left: calc(100% / 12 * 8);
}

.offset-9 {
    margin-left: calc(100% / 12 * 9);
}

.offset-10 {
    margin-left: calc(100% / 12 * 10);
}

.offset-11 {
    margin-left: calc(100% / 12 * 11);
}

.offset-12 {
    margin-left: 100%;
}